<p-messages severity="info">
    <ng-template pTemplate>
        <p-button routerLink="/favs" type="button" icon="pi pi-arrow-left" iconPos="left" label="Back"></p-button>
        <div style="margin-right: auto; margin-left: auto;">Who will be watching? </div>
        <p-button routerLink="/mood" type="button" icon="pi pi-arrow-right" iconPos="right" label="Next"></p-button>
    </ng-template>
</p-messages>

<p-card>
    <div class="p-fluid grid">
        <div class="field col-12 md:col-4">
            <span>
                <h5>How many people?</h5>
                <input type="number" id="numWatchers" pInputText [(ngModel)]="dataService.squad$.numWatchers"> 
            </span>
        </div>
    </div>
    <div class="p-fluid grid">
        <div class="field col-12 md:col-4">
            <span>
                <h5>What is the age range? {{rangeValues[0] + ' - ' + rangeValues[1]}}</h5>
                <p-slider [(ngModel)]="rangeValues" id="ageRange" [range]="true"></p-slider>
            </span>
        </div>
    </div>
    <div class="p-fluid grid">
        <div class="field col-12 md:col-4">
            <span>
                <h5>With parents?</h5>
                <p-checkbox name="groupname" value="val1" [(ngModel)]="includesParents"></p-checkbox>
            </span>
        </div>
    </div>
</p-card>