<div class="p-fluid grid align-content-center justify-content-center">  
  <div class="field col-12 xl:col-10">
    <p-card>
      <img style="width: 100%; border: 1px solid gray;" [src]="logo" alt="Bernard's Weekend Movie Binger">
    </p-card>
</div>
</div>
<div class="p-fluid grid align-content-center justify-content-center">
  <div class="field col-12 xl:col-10">
    <p-card>
      <p-steps [model]="steps"></p-steps>
    </p-card>

    <router-outlet></router-outlet>
    </div>
</div>  
<canvas #myCanvas></canvas>